.element3
{
    width:600px;
    height:70px;
}
.element{
    margin-top:20px;
}
.element1
{
    font-size: x-large;
}
.element2
{
    font-size: larger;
}
.validationError
{
    color:red;
    font-size: large;
}